* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html,
body {
  height: 100vh;
  background-color: #252525;
  display: flex;
  justify-content: center;
}
.box {
  background-color: #dfe6e9;
  height: 100vh;
  width: 800px;
  /* padding: 20px; */
}
.hero {
  display: flex;
  padding: 20px;
  padding-bottom: 40px;
  gap: 20px;
  flex-direction: column;
  /* border-bottom: 0.5px solid #25252580; */
}
.hero h2 {
  text-align: center;
  font-size: 30px;
  color: #252525;
}
.user-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.user-input input {
  width: 600px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid purple;
  padding-left: 8px;
  font-size: 18px;
  background-color: transparent;
}
.user-input ::placeholder {
  color: rgba(107, 1, 107, 0.61);
  font-size: 20px;
}
.user-input button {
  padding: 8px 30px;
  border: 2px solid purple;
  outline: none;
  color: purple;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
}
.main {
  /* background-color: blueviolet; */
  padding: 20px;
}
.list {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  text-align: center;
  border: 0.5px solid purple;
  border-radius: 22px;
}
.list ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.list ul li {
    display: flex;
    gap: 15px;
    color: purple;
    text-transform: capitalize;
}
.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
/* .chackbox {
  outline: none;
  cursor: pointer;
  width: 24px;
  accent-color: blueviolet;
  border-color: purple;
  background-color: transparent;
}
.chackbox:checked ~ .checkmark {
  color: #25252575;
  text-decoration: line-through;
} */
#edit-input {

}
.icons {
  font-size: 24px;
  /* display: flex;
  gap: 20px; */
  color: rgba(128, 0, 128, 0.377);
  cursor: pointer;
}
.icons :hover {
  color: purple;
}
.icons :last-child {
  color: rgba(255, 0, 0, 0.438);
}
.icons :last-child:hover {
  color: red;
}
