* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
html,body {
    height: 100vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
}
.box {
    background-color: #dfe6e9;
    height: 100vh;
    width: 800px;
}
.hero {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hero h2 {
    text-align: center;
    font-size: 30px;
    color: #252525;
}
.user_input {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.user_input input {
    width: 600px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid purple;
    padding-left: 8px;
    font-size: 18px;
}
.user_input ::placeholder {
    color: rgba(107, 1, 107, 0.61);
}
.user_input button {
    padding: 8px 30px;
    border: 2px solid purple;
    outline: none;
    color: purple;
    font-size: 18px;
    border-radius: 20px;
}
